doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 this is first heading
        p Hello world, this i paragraph

        div.firstclass
            p inside class

        div#secondid
            p id without div before






